<div class="mb-4 col-md-4 col-sm-6">
    <div class="card shadow-sm">
        <img src="https://fakeimg.pl/600x400/?text=Actu360"
             alt="Ligue des champions : le PSG affrontera Liverpool en huitièmes de finale, Lille hérite de Dortmund" class="img-fluid">
        <div class="card-body">
            <h5 class="card-title">Ligue des champions : le PSG affrontera Liverpool en huitièmes de finale, Lille hérite de Dortmund</h5>
            <small class="text-muted">Rédigé par : <a href="auteur.php?username=hugoliegeard">hugoliegeard</a> - le 21/02/2025 à 12:39</small>
            <p class="card-text">Le chemin vers la finale de Munich (Allemagne), le 31 mai, est d&eacute;sormais tout trac&eacute;. Comme le voulait la nouvelle formule de la Ligue des champions, l&#39;ensemble du tableau final de la comp&eacute;tition a &eacute;t&eacute;...</p>
            <a href="24_ligue-des-champions-le-psg-affrontera-liverpool-en-huitiemes-de-finale-lille-herite-de-dortmund" class="btn w-100 btn-outline-primary">Lire la suite</a>
        </div>
    </div>
</div>