{% extends 'base.html.twig' %}

{% block title %}Politique{% endblock %}
{% block page_title %}Politique{% endblock %}

{% block content %}
    <div class="row">
        {% include 'partials/_post.html.twig' %}
        {% include 'partials/_post.html.twig' %}
        {% include 'partials/_post.html.twig' %}
        {% include 'partials/_post.html.twig' %}
        {% include 'partials/_post.html.twig' %}
        {% include 'partials/_post.html.twig' %}
        {% include 'partials/_post.html.twig' %}
    </div> <!-- /.row -->
{% endblock %}